*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
  --text-color:white;
  --bg-url:url(assets/bg-mobile.jpg);
  --stroke-color:rgba(255, 255, 255, 0.50);
  --surface-color:rgba(255, 255, 255, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.02);
  --highlight-color:rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(assets/moon-stars.svg);
  
}

.light{
  --text-color:black;
  --bg-url:url(assets/bg-mobile-light.jpg);
  --stroke-color:rgba(0, 0, 0, 0.50);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.02);
  --highlight-color:rgba(0, 0, 0, 0.10);
   --switch-bg-url: url(assets/sun-stars.svg);
  
}

body{
  /*
  background-image: url(assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top,center;
  background-size: cover;
  */


  /*ordem correta do shorthand da propriedade: background: color image repeat position/size */ 

  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body *{  /*  o sinal "*" aplicado refere-se que todo   */
  font-family: "Inter", sans-serif;
  color:var(--text-color);
}



  #Perfil{
 width: 100%;
 max-width: 588px;
 margin: 56px auto 0px;
 padding: 0px 24px;
}
/*Perfil principal*/
#Perfil{  /*Centralizando a div por ela mesma, basicamente, todos os elementos que estiverem dentro da div, herdaram o que a div tiver. */
  text-align: center;
  padding: 24px;
}


/*botao-switch*/
#switch{
position: relative;
width: 64px;
margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

#switch span{
 display: block;
width: 64px;
height: 24px;
flex-shrink: 0;
border-radius: 9999px;
background: var(--surface-color);
border: 1px solid var(--stroke-color);
backdrop-filter: blur(4px);
}

.light #switch button{
right: 0;
left: initial;
}



#foto img{
  width: 112px;
  margin:auto;
}

#Perfil p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}


/* Listas com link */

ul{
  list-style:none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}

ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
 background: var(--surface-color);
 border: 1px solid var(--stroke-color);
  padding: 16px 24px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight:500px;
  transition: background 0.2s;
}

/* Realizar futuras alterações*/

#portifolio{
opacity: 0.5;
pointer-events: none;    /* bloqueia o clique normal */
position: relative;
}

#explorer{
opacity: 0.5;
pointer-events: none;
position: relative;
}


/*Pseudo-selector, aplica as interações quando o mouse passar por cima*/
ul li a:hover{
background: var(--surface-color-hover);
 border: 1.5px solid var(--text-color);
}


/* icons -links*/
#icons{
  display: flex;
  justify-content: center;
  gap:16px;
  padding: 24px 0%;
  font-size: 24px;
}

#icons a{
display: flex;
justify-content: center;
align-items: center;
padding: 16px;
transition:background 0.2s;
border-radius:50%;
}


#icons a:hover{
  background:var(--highlight-color);
}

footer{
  padding: 24px 0px;
  text-align: center;
}

/* media queries */
@media (min-width: 600px) {
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
